<title>
  {{- if not .IsHome }}
  {{ with .Title | title }}{{ . }} | {{ end }}
  {{ end }}
  {{ .Site.Title -}}
</title>

<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="renderer" content="webkit">
<meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover">
<meta name="author" content="Marcos V. Leal">
<meta name="theme-color" content="#fafafa">
<meta name="robots" content="index, follow"/>

{{- partial "meta.html" . -}}

<link rel="canonical" href="{{ .Permalink }}" />
<link rel="manifest" href="/manifest.json">

<link rel="sitemap" type="application/xml" href="{{.Site.BaseURL}}sitemap.xml" />

{{ range .AlternativeOutputFormats -}}
  <link rel="{{ .Rel }}" type="{{ .MediaType.Type }}" href="{{ .Permalink }}" title="{{ $.Site.Title | safeHTML }}" />
{{ end -}}

<link rel="icon" type="image/png" href="/images/favicon.ico">

<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Fira+Code:wght@300;400;500;600;700&display=swap" media="none" onload="this.media='all';">
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap" media="none" onload="this.media='all';">
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Source+Serif+Pro:wght@400;600;700&display=swap" media="none" onload="this.media='all';">

<link rel="stylesheet" href="{{ "/css/font-awesome.min.css" | relURL }}">
<link rel="stylesheet" href="{{ "/css/bulma.min.css" | relURL }}">
<link rel="stylesheet" href={{ "/css/styles.css" | relURL }}>
