<section class="hero is-medium is-bold footer-news">
  <div class="hero-body">
    <div class="container">
      <div class="title-wrapper has-text-centered">
        <h2 class="title is-3 has-text-black">Receba os conteúdos primeiro 🚀</h2>
        <p class="has-text-black">
          Deseja ser notificado quando conteúdos novos avançados forem lançados?
        </p>
      </div>

      <div class="columns is-centered">
          <div class="column has-text-centered is-half">
            <form method="POST" action="https://submit-form.com/8k3B3R_7oruLOCoDdmu8l" target="_self">
              <div class="field has-addons">
                <div class="control is-expanded">
                  <input class="input is-medium" type="email" name="email" placeholder="Seu melhor e-mail">
                  <input type="hidden" name="source" value="{{ .Permalink }}">
                </div>

                <div class="control">
                  <button type="submit" class="button is-medium is-primary">
                    Quero entrar
                  </button>
                </div>
              </div>
            </form>
          </div>
      </div>
    </div>
  </div>
</section>
