<div class="section is-bold footer-news">
  <div class="columns is-vcentered">
    <div class="column">
      <p class="title">Cadastre-se na lista VIP? 🚀</p>
      <p class="subtitle is-5 has-text-grey-light">
        Receba em seu e-mail conteúdos exclusivos. Não se preocupe, eu também
        odeio SPAM.
      </p>
    </div>

    <div class="column">
      <form
        action="https://coderarena.us10.list-manage.com/subscribe/post"
        method="POST"
        _lpchecked="1"
      >
        <input type="hidden" name="u" value="3893279f0aaeb904cf70df852" />
        <input type="hidden" name="id" value="6571eba108" />
        <input
          type="hidden"
          autocapitalize="off"
          autocorrect="off"
          name="MMERGE1"
          id="MMERGE1"
          value="{{ .Permalink }}"
        />

        <div class="field is-grouped">
          <div class="control is-expanded">
            <input
              type="email"
              placeholder="Seu melhor e-mail"
              autocapitalize="off"
              autocorrect="off"
              class="input is-medium"
              name="MERGE0"
              id="MERGE0"
              size="25"
              aria-label="email"
            />
          </div>
          <div class="control">
            <button type="submit" class="button is-medium is-link">
              Enviar
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
