body {
  font-family: "Open Sans", sans-serif;
}

body * {
  outline: none;
}

::selection {
  color: rgba(255, 255, 255, 0.9);
  background-color: #2e92d8;
}

/******* Navbar ****/
.navbar-brand a {
  font-size: 20px;
}

.navbar-item.navyoutube,
.navbar-item.navinstagram {
  outline: none;
}

.navbar-item.navyoutube > i {
  color: #ff0000;
}

.navbar-item.navinstagram > i {
  background: radial-gradient(
    circle at 30% 107%,
    #fdf497 0%,
    #fdf497 5%,
    #fd5949 45%,
    #d6249f 60%,
    #285aeb 90%
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

input:focus::placeholder {
  color: transparent;
}

/***** Bulma Fix ******/
pre,
code {
  font-family: "Fira Code", monospace;
}

.columns {
  margin: 0;
}

.tag:not(body).is-dark {
  background-color: #3e464f;
}

.highlight {
  border-radius: 0.5rem;
}

.content h1,
.content h2,
.content h3,
.content h4,
.content h5,
.content h6 {
  color: #3e464f;
}

/******* Home Page *******/
.main {
  padding-top: 3rem;
}

.tags-summary {
  line-height: 3;
}

@media all and (max-width: 768px) {
  #all-tags {
    list-style-type: none;
  }
}

@media all and (min-width: 769px) {
  #all-tags {
    columns: 2;
    list-style-type: none;
  }
}

/**** Blog Main ********/
#page-body {
  margin-top: 2em;
  min-height: 75vh;
  position: relative;
}

.info {
  font-size: 0.9em;
}

@media all and (max-width: 1023px) {
  #infobar {
    margin-bottom: 0.5em;
  }
}

.blog .date {
  font-weight: 600;
}

.blog .title {
  font-weight: 700;
  font-size: 2.1em;
  line-height: 1.25;
  margin-bottom: 0.5em;
}

.htmlchars {
  font-size: 21px;
  color: rgba(0, 0, 0, 0.82);
  line-height: 1.875rem;
  margin-top: 5rem;
  font-family: "Source Serif Pro", serif;
}

.htmlchars a,
.htmlchars p a,
.htmlchars p a strong {
  color: #045fb4;
}

.htmlchars p {
  color: #3e464f;
  font-size: 21px;
  line-height: 30px;
  margin: 15px 0;
  margin-bottom: 32px !important;
}

.htmlchars p b,
.htmlchars p strong {
  color: #3e464f;
  font-weight: 700;
}

.htmlchars p em,
.htmlchars p i {
  font-style: italic;
}

.htmlchars ul,
.htmlchars ol {
  padding-left: 21px;
  margin: 35px 0 !important;
}

.htmlchars ul li,
.htmlchars ol li {
  font-size: 21px;
  line-height: 30px;
  margin-bottom: 12px;
}

.htmlchars ul li > b,
.htmlchars ol li > b,
.htmlchars ul li > strong,
.htmlchars ol li > strong {
  color: #3e464f;
}

.htmlchars h1 {
  font-size: 45px;
}

.htmlchars h2 {
  font-size: 32px;
  line-height: 40px;
}

.htmlchars h3 {
  font-size: 28px;
}

.htmlchars h4 {
  font-size: 22px;
}

.htmlchars h5 {
  font-size: 18px;
}

.htmlchars h6 {
  font-size: 14px;
}

.htmlchars h1,
.htmlchars h2,
.htmlchars h3,
.htmlchars h4,
.htmlchars h5,
.htmlchars h6 {
  color: #3e464f;
  margin: 60px 0 18px;
  font-weight: 700;
  font-family: "Open Sans", sans-serif;
}

.htmlchars h1 + p,
.htmlchars h2 + p,
.htmlchars h3 + p,
.htmlchars h4 + p,
.htmlchars h5 + p,
.htmlchars h6 + p {
  margin: 25px 0;
}

.htmlchars figure {
  margin-left: 0;
  margin-right: 0;
}

.htmlchars img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.htmlchars div {
  margin-bottom: 1em;
}

#author-image {
  width: 100%;
  max-width: 220px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 10px;
  border-radius: 290486px;
  background-color: #f4f4f4;
}

/* ----- Blog Brief ------- */
.blog-brief .title {
  color: #3e464f;
  line-height: 1.25;
  margin-bottom: 0.75rem;
}

.blog-brief .title:hover {
  color: #000000;
}

.blog-brief .date {
  font-weight: 600;
}

.blog-brief .info {
  font-size: 0.8em;
}

.blog-brief .summary {
  color: black;
  opacity: 0.84;
  font-size: 1.2em;
  overflow: hidden;
  max-height: 4.4em;
  min-height: 1.1em;
}

.blog-brief img {
  border-radius: 0.25rem;
}

.blog-brief hr {
  margin: 2rem 0;
}

@media all and (min-width: 769px) {
  .blog-brief img {
    height: 5em;
    max-width: 13em;
    float: left;
    margin-right: 0.8em;
    display: block;
  }
}

@media all and (max-width: 768px) {
  .blog-brief img {
    float: clear;
    max-width: 85%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0.8em;
  }
}

.continue-reading {
  clear: both;
  margin-top: 1em;
  font-weight: 600;
}

.continue-reading a {
  color: #3e464f;
  opacity: 0.84;
}

.continue-reading a:hover {
  color: #000000;
  opacity: 0.84;
}

/***** Social Share Buttons ******/
.social-share-buttons > .button {
  color: #ffffff;
  border: none;
}

.social-share-buttons > .button:hover {
  opacity: 0.8;
}

.social-share-buttons > .share-facebook {
  background-color: #3b5998;
}

.social-share-buttons > .share-twitter {
  background-color: #45b0e3;
}

.social-share-buttons > .share-linkedin {
  background-color: #0276b5;
}

.social-share-buttons > .share-mail {
  background-color: #db4437;
}

/******* Section List *******/
.sections-list p {
  line-height: 1.7em;
}

.sections-list a:hover {
  text-decoration: underline;
}

/******** Footer Newsletter *******/
.footer-news {
  margin-top: 5rem;
  border-top: 1px solid #f4f4f4;
}

.footer-news .subtitle {
  display: inline;
}

/******** Footer *******/
.footer p {
  font-size: 0.9em;
}

.footer a:hover,
.footer a:active,
.footer a:focus {
  text-decoration: underline;
}

.cse .gsc-control-cse,
.gsc-control-cse {
  padding: 0px;
}

/***** kbd tag style ****/
kbd {
  background-color: rgba(153, 159, 160, 0.329);
  padding-left: 5px;
  padding-right: 5px;
  border-radius: 4px;
}
