{{ define "main" }}

<section class="hero has-text-centered">
  <div class="hero-body">
    <div class="container">
      <h1 class="title is-1">404! Página não encotrada :(</h1>

      <br /><br />

      <h1 class="subtitle is-4">Aqui está o que pode ter acontecido:</h1>
      <h1 class="subtitle is-6">
        1. A página foi movida para outro local. Você pode procurá-lo acima.
      </h1>
      <h1 class="subtitle is-6">
        2. A página foi removida. Você pode ler outro abaixo.
      </h1>
      <h1 class="subtitle is-6">
        3. Esta página nunca existiu.
      </h1>
    </div>
  </div>
</section>

{{- partial "index/tag-bullet.html" . -}}
{{- partial "index/section-bullet.html" . -}}
{{- partial "index/list-blog-brief.html" . -}}
{{ end }}
