{{ define "main" }}

<section class="hero has-text-centered">
  <div class="hero-body">
    <div class="container">
      <h1 class="title is-1">Página não encotrada 😕</h1>

      <br /><br />

      <h2 class="subtitle is-4">Aqui está o que pode ter acontecido:</h2>

      <p>
        1. A página foi movida para outro local. Você pode procurá-lo acima.
      </p>
      <p>
        2. A página foi removida, você pode continuar navegando através dos
        menus.
      </p>
      <p>3. Esta página nunca existiu.</p>
    </div>
  </div>
</section>

{{ end }}
